body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-image: url("Images/pattern2.jpg");
    background-position-y: 300px;
    background-repeat: no-repeat;

}
.logo{
    position:relative;
    top: 10px;
    color:rgb(0, 81, 255);
    font-size: 50px;
    line-height: 30px;
    font-weight: bold;  
}
#X{
   font-size: 60px;
   font-weight: bolder;
}
.container{
        float: right;
        width: 30px;
        height: 30px;
}

.user {
    width: 30px; /* Set width to 30px */
    height: 30px; /* Set height to 30px */
    border-radius: 50%; /* Optional: make the icon circular */
  }
  
nav{
    background:rgb(0, 81, 255);
    height: 60px;
    width:"100%";
}
nav ul{
    list-style: none;
    margin: 5px;
    padding: 0;
    float: left;
}
nav li{
    display: inline-block;
    margin-right: 20px;   /*Adjust space between blocks*/
    padding: 15px;
}
li:last-child{
    margin-right: 0; /*Remove margin from last item*/
}
nav a{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    float:left;
    display: block;
    color: white;
    margin-bottom: 5px;
    
}

li  a:hover{
    background-color:#1b9bff; /*Show active tab*/
    transition:  .5s;
    padding: 5px;
    margin-bottom: 5px;

}
.container img{
    margin-top: 100px;
    width: 20px;
    height: 20px;
}
.add_p{
    background-color:green; 
    padding:15px 50px;
    border-radius :10px;
    border:none;
    color:white;
    margin-left :20px;
    font-size:25px;
    cursor:pointer;
}
span{
    font-size:30px;
    font-weight:bold;
}
.table{
    width: 90%;
    position: relative;
    left: 20px;
    
}
th{
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    background-color:black;
    color:white;
}
td{
    border: 1px solid black;
    padding: 20px;
    text-align: left;
}
 
.edit{
    background-color:green;
    color:white;
    padding:10px 20px;
    border:none;  /*Remove border*/
    border-radius:5px;
    cursor: pointer;
    text-decoration: none; /*Remove underline*/


}
.delete{
    background-color:red;
    color:white;
    margin-left :20px;
    padding:10px 20px;
    border:none;
    border-radius:5px;
    cursor: pointer;
    text-decoration: none;
}

footer{
    background-color: black;
    color: white;
    padding: 150px;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 150px;
    position:relative;
    bottom: 0;
}
.left-footer{
    float: left;
    font-size: 20px;
}    
.right-footer{
    float: right;
}
.center-footer{
   text-align: center;
}
.logo-footer{
    margin-top:10px;
    color:rgb(0, 81, 255);
    font-size: 50px;
    line-height: 30px;
    font-weight: bolder;
}
footer a{    
    display: inline-block;
    margin: 0 10px; /*adjust space between icons*/
}
footer img{
    width: 40px;
    height: 40px;   
}
#copyright{
    font-size: 15px;
    margin-top: 65px;
    margin-left: 0;
}
.footer-links{
   text-decoration: none;
}
.privacy-terms ul{
    list-style: none;
    margin-top: 60px;
    margin-right: 300px;
}
.privacy-terms a{
    text-align: center;
    color: white;
    text-decoration: none;
}
