body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-image: url("Images/pattern2.jpg");
    background-position-y: 300px;
    background-repeat: no-repeat;

}
.logo{
    position:relative;
    top: 10px;
    color:rgb(0, 81, 255);
    font-size: 50px;
    line-height: 30px;
    font-weight: bolder;  
}
span{
    font-size: 60px;
    font-weight: bold
}
.container{
    float:right;
}
.container img{
    width:50px;
    height:50px;
    position:relative;
    right:10px;
    top:5px;
}
nav{
    background:rgb(0, 81, 255);
    height: 60px;
    width:"100%";
}
nav ul{
    list-style: none;
    margin: 5px;
    padding: 0;
    float: left;
}
nav li{
    display: inline-block;
    margin-right: 40px;   /*Adjust space between blocks*/
    padding: 10px;
}
li:last-child{
    margin-right: 0; /*Remove margin from last item*/
}
nav a{
    text-decoration: none;
    font-weight:bold;
    font-size: 16px;
    text-transform: uppercase;
    float:left;
    display: block;
    color: white;
    margin-bottom: 10px;
    
}

nav a:hover, .dropdown:hover .dropbtn, .dropbtn:focus{
    background-color:#1b9bff; /Show active tab/
    transition:  .5s;
    padding: 5px;
    margin-bottom: 5px;

}

.dropdown{
    overflow: hidden;
}

.dropdown .dropbtn{
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 81, 255);
    text-decoration: none;
    float: left;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
    padding: 0;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color:rgb(89, 150, 235);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}  

.dropdown-content a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: #ddd;
}

.show{
    display: block;
}





 a.active, a:hover{
    background-color:#1b9bff; /*Show active tab*/
    transition:  .5s;
    padding: 5px;
    margin-bottom: 5px;

}
table{
    width:100%;
}
tr{
    width:100%;
    height:auto;
}




   
footer{
    background-color: black;
    color: white;
    padding: 150px;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 150px;
    position:relative;
    bottom: 0;
}
.left-footer{
    float: left;
    font-size: 20px;
}    
.right-footer{
    float: right;
}
.center-footer{
   text-align: center;
}
.logo-footer{
    margin-top:10px;
    color:rgb(0, 81, 255);
    font-size: 50px;
    line-height: 30px;
    font-weight: bolder;
}
footer a{    
    display: inline-block;
    margin: 0 10px; /*adjust space between icons*/
}
footer img{
    width: 40px;
    height: 40px;   
}
#copyright{
    font-size: 15px;
    margin-top: 65px;
}
.footer-links{
   text-decoration: none;
}
.privacy-terms ul{
    list-style: none;
    margin-top: 60px;
    margin-right: 300px;
}
.privacy-terms a{
    text-align: center;
    color: white;
    text-decoration: none;
}

.bton1{
    background-color: hsl(223, 31%, 62%);
    padding: 8px;
}


.bton1.off-hover:hover{
    background-color:#cbd9e5 ;
    }

#selPro{
    margin:10px;
}

